* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;

}

.title-name {
    font-size: 1.5rem;
    margin: .5rem;

}

.navBar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar-links li {
    list-style: none;

}

.navBar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navBar-links li button {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navBar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.new_tab {
    margin-top: 1rem;
}